
body{
    background-color:black;
    color: #808080;
    letter-spacing: 0.1rem;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    height: 100%;
}
.header-menu{
    font-family: 'Poppins', sans-serif;
}

.header-menu .navbar-brand{
font-size: 100px;
color: #707070;
}

.header-menu .navbar-nav .nav-link{
font-size:30px;
font-weight: 400;
color: #707070;
}

.header-menu .navbar-expand-lg .navbar-collapse{
justify-content: flex-end;
}

.navbar-collapse{
text-align: center;
}

.header-menu .navbar-nav  .button:hover{
background: white;
}
.owl-carousel {
    position: relative; }
    .owl-carousel .owl-item {
      opacity: .4; }
      .owl-carousel .owl-item.active {
        opacity: 1; }
    .owl-carousel .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%; }
      .owl-carousel .owl-nav .owl-prev,
      .owl-carousel .owl-nav .owl-next {
        position: absolute;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: -10px;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
        opacity: 0; }
        @media screen and (prefers-reduced-motion: reduce) {
          .owl-carousel .owl-nav .owl-prev,
          .owl-carousel .owl-nav .owl-next {
            -webkit-transition: none;
            -o-transition: none;
            transition: none; } }
        .owl-carousel .owl-nav .owl-prev span:before,
        .owl-carousel .owl-nav .owl-next span:before {
          font-size: 40px; }
      .owl-carousel .owl-nav .owl-prev {
        left: 0; }
      .owl-carousel .owl-nav .owl-next {
        right: 0; }
    .owl-carousel .owl-dots {
      position: relative;
      text-align: center;
      margin-top: 30px; }
      .owl-carousel .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1; }
        .owl-carousel .owl-dots .owl-dot span {
          width: 10px;
          height: 10px;
          background: #ababab;
          border-radius: 50%;
          display: inline-block;
          margin: 5px 7px; }
        .owl-carousel .owl-dots .owl-dot.active span {
          background: #2f89fc; }
    .owl-carousel:hover .owl-nav .owl-prev,
    .owl-carousel:hover .owl-nav .owl-next {
      opacity: 1; }
    .owl-carousel:hover .owl-nav .owl-prev {
      left: -20px; }
    .owl-carousel:hover .owl-nav .owl-next {
      right: -20px; }
    .owl-carousel.home-slider {
      z-index: 0;
      position: relative; }
      .owl-carousel.home-slider .slider-item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: calc(100vh - 0);
        min-height: 700px;
        position: relative; }
        .owl-carousel.home-slider .slider-item .overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          background: #2f89fc;
          opacity: 0; }
        .owl-carousel.home-slider .slider-item .slider-text {
          color: #fff;
          height: calc(100vh - 117px);
          min-height: 700px;
          position: relative; }
          .owl-carousel.home-slider .slider-item .slider-text .bold-text {
            position: absolute;
            top: -20px;
            left: 0;
            right: 0;
            bottom: 0;
            font-weight: 700 !important;
            font-size: 100px;
            color: rgba(255, 255, 255, 0.08); }
          .owl-carousel.home-slider .slider-item .slider-text h1 {
            font-size: 55px;
            color: #fff;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 10px;
            display: inline-block;
            position: relative; }
            @media (max-width: 991.98px) {
              .owl-carousel.home-slider .slider-item .slider-text h1 {
                font-size: 40px; } }
          .owl-carousel.home-slider .slider-item .slider-text p {
            font-size: 20px;
            line-height: 1.5;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.8); }
            .owl-carousel.home-slider .slider-item .slider-text p a.scroll {
              color: rgba(255, 255, 255, 0.6);
              font-weight: 400;
              text-transform: uppercase;
              letter-spacing: 4px; }
            .owl-carousel.home-slider .slider-item .slider-text p strong {
              font-weight: 700; }
              .owl-carousel.home-slider .slider-item .slider-text p strong a {
                color: #fff; }
          .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs {
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 1px; }
            .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span {
              border-bottom: 2px solid rgba(255, 255, 255, 0.1); }
              .owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span a {
                color: #fff; }
      .owl-carousel.home-slider .owl-nav .owl-prev span,
      .owl-carousel.home-slider .owl-nav .owl-next span {
        color: #fff; }
      .owl-carousel.home-slider:hover .owl-nav .owl-prev,
      .owl-carousel.home-slider:hover .owl-nav .owl-next {
        opacity: 1; }
      .owl-carousel.home-slider:hover .owl-nav .owl-prev {
        left: 20px; }
      .owl-carousel.home-slider:hover .owl-nav .owl-next {
        right: 20px; }
      .owl-carousel.home-slider .owl-dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
        width: 100%;
        text-align: center; }
        .owl-carousel.home-slider .owl-dots .owl-dot {
          width: 18px;
          height: 18px;
          margin: 5px;
          border-radius: 50%;
          background: #f8f8f8;
          background: none;
          border: 2px solid rgba(255, 255, 255, 0.5);
          outline: none !important;
          position: relative;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          display: inline-block; }
          .owl-carousel.home-slider .owl-dots .owl-dot span {
            position: absolute;
            width: 12px;
            height: 12px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 50% !important;
            left: 0%;
            top: 2px;
            display: block;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
          .owl-carousel.home-slider .owl-dots .owl-dot.active {
            border: 2px solid white; }
            .owl-carousel.home-slider .owl-dots .owl-dot.active span {
              background: white; }
              .mt-3,
.my-3 {
margin-top: 1rem !important; }

.mr-3,
.mx-3 {
margin-right: 1rem !important; }

.mb-3,
.my-3 {
margin-bottom: 1rem !important; }

.ml-3,
.mx-3 {
margin-left: 1rem !important; }
h1, h2, h3, h4, h5, h6 {
margin-top: 0;}

body:before {
    position: fixed;
    top: 500px;
    left: -100px;
    bottom: 0;
    content: '';
    width: 400px;
    height: 400px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    z-index: -1;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }

    

   